src/node_modules/*
!src/node_modules/.gitkeep 
src/jscam/node_modules/*
!src/jscam/node_modules/.gitkeep
src/jscam/.expo
src/jscam/onvif
deps/
src/deps/*
!src/deps/.gitkeep 
src/onvif
src/home/.*
!src/home/.gitkeep
dev/home/.*
!dev/home/.gitkeep 
src/home/.npm
src/home/.bash_history
src/home/.config
src/package-lock.json
src/jscam/node_modules
src/jscam/package-lock.json
src/jscam/.expo
src/jscam/android/.gradle
src/jscam/android/.idea
src/jscam/android/build
src/jscam/android/app/build
src/jscam/android/gradle
.idea
local.properties
src/jscam/android/app/app.iml
src/jscam/android/jscam.iml