src/node_modules/*
!src/node_modules/.gitkeep 
src/jscam/node_modules/*
!src/jscam/node_modules/.gitkeep
src/jscam/.expo
src/jscam/onvif
deps/
src/deps/*
!src/deps/.gitkeep 
src/onvif
src/home/.*
!src/home/.gitkeep 
src/home/.npm
src/home/.bash_history
src/home/.config
src/package-lock.json
src/jscam/node_modules
src/jscam/package-lock.json
